### ê²½ì‚¬í•˜ê°•ë²• ì´ìš©í–‰ë ¬ë¶„í•´ ì˜ˆì œ 
í–‰ë ¬ë¶„í•´ê³¼ì •
- 1) ğ‘ƒ, ğ‘„ ë¥¼ì„ì˜ì˜ê°’ë“¤ì„ê°€ì§„í–‰ë ¬ë¡œì´ˆê¸°í™”í•œë‹¤
- 2) ğ‘ƒ, ğ‘„ğ‘‡ë¥¼í–‰ë ¬ê³±í•˜ì—¬ áˆ˜ ğ‘…ì„ìƒì„±í•œë‹¤
- 3) ğ‘…ê³¼ áˆ˜ ğ‘…ì„ë¹¼ì†ì‹¤ì„êµ¬í•œë‹¤
     - ì´ë•Œì†ì‹¤ì€ğ‘…ì˜ê°’ì´ì¡´ì¬í•˜ëŠ”ë¶€ë¶„ë“¤ê³¼ áˆ˜ ğ‘…ì˜ˆì¸¡ê°’ë“¤ê°„ì˜ì°¨ì´ë¥¼ì˜ë¯¸í•œë‹¤
- 4) ğ‘ƒ, ğ‘„ğ‘‡ë¥¼ì†ì‹¤ì´ìµœì†Œí™”í•˜ëŠ”ë°©í–¥ìœ¼ë¡œì—…ë°ì´íŠ¸í•˜ë©°, ìˆ˜ë ´í• ë•Œê¹Œì§€ì‘ì—…ì„ë°˜ë³µí•œë‹¤

1) ì›ë³¸í–‰ë ¬ ìƒì„±

In [1]:
import numpy as np

# ì›ë³¸ ì‚¬ìš©ì - ì•„ì´í…œ í–‰ë ¬ ìƒì„±
R = np.array([[4, np.NaN, np.NaN, 2, np.NaN],
              [np.NaN, 5, np.NaN, 3, 1],
             [np.NaN, np.NaN, 3, 4, 4],
              [5, 2, 1, 2, np.NaN]])

num_users, num_items = R.shape
K=3 # ì ì¬ìš”ì¸ì˜ ê°œìˆ˜(ì°¨ì›)

In [2]:
# P, Që¥¼ ì„ì˜ì˜ ê°’ë“¤ì„ ê°€ì§„ í–‰ë ¬ë¡œ ì´ˆê¸°í™”

np.random.seed(1)
P = np.random.normal(scale = 1./K, size = (num_users, K))
Q = np.random.normal(scale = 1./K, size = (num_items, K))

In [3]:
P

array([[ 0.54144845, -0.2039188 , -0.17605725],
       [-0.35765621,  0.28846921, -0.76717957],
       [ 0.58160392, -0.25373563,  0.10634637],
       [-0.08312346,  0.48736931, -0.68671357]])

In [4]:
Q

array([[-0.1074724 , -0.12801812,  0.37792315],
       [-0.36663042, -0.05747607, -0.29261947],
       [ 0.01407125,  0.19427174, -0.36687306],
       [ 0.38157457,  0.30053024,  0.16749811],
       [ 0.30028532, -0.22790929, -0.04096341]])

RMSE ì¸¡ì • í•¨ìˆ˜ ìƒì„±

In [5]:
# ì†ì‹¤ì€ ğ‘…ì˜ ê°’ì´ ì¡´ì¬í•˜ëŠ” ë¶€ë¶„ë“¤ê³¼ áˆ˜ ğ‘…ì˜ˆì¸¡ê°’ë“¤ ê°„ì˜ ì°¨ì´ë¥¼ ì˜ë¯¸í•œë‹¤

# ì‹¤ì œ í–‰ë ¬ê³¼ ì˜ˆì¸¡í–‰ë ¬ ì˜¤ì°¨ë¥¼ êµ¬í•˜ëŠ” í•¨ìˆ˜ ìƒì„±
from sklearn.metrics import mean_squared_error

def get_rmse(R, P, Q, non_zeros):
    error = 0
    
    # 2) ì˜ˆì¸¡í–‰ë ¬ ìƒì„± - ğ‘ƒ, ğ‘„ğ‘‡ë¥¼ í–‰ë ¬ê³±í•´ì„œ ğ‘…ì„ ìƒì„±.
    full_pred_matrix = np.dot(P, Q.T)
    
    # Rì—ì„œ NaNì´ ì•„ë‹Œ ê°’ì˜ ìœ„ì¹˜ ì¸ë±ìŠ¤ë¥¼ ì¶”ì¶œ
    x_non_zero_ind = [non_zero[0] for non_zero in non_zeros]
    y_non_zero_ind = [non_zero[1] for non_zero in non_zeros]
    
    # NaNì´ ì•„ë‹Œ ê°’ë“¤ë§Œì„ Rê³¼ full_pred_matrixì—ì„œ ì¶”ì¶œ
    R_non_zeros = R[x_non_zero_ind, y_non_zero_ind]
    full_pred_matrix_non_zeros = full_pred_matrix[x_non_zero_ind, y_non_zero_ind]
    
    mse = mean_squared_error(R_non_zeros, full_pred_matrix_non_zeros)
    rmse = np.sqrt(mse)
    
    return rmse

ê²½ì‚¬í•˜ê°•ë²•ì´ìš© í–‰ë ¬ë¶„í•´ì‹¤ì‹œ

In [6]:
# ì›ë³¸í–‰ë ¬ì—ì„œ ê²°ì¸¡ê°’ì´ ì•„ë‹Œ ê°’ì˜ í–‰, ì—´ , ì‹¤ì œ ê°’ì„ íŠœí”Œí˜•íƒœë¡œ ë¦¬ìŠ¤íŠ¸ì•ˆì— ë‹´ê¸°.
non_zeros = [(i, j, R[i, j]) for i in range(num_users) for j in range(num_items) if R[i, j] >0]

steps = 1000 #í›ˆë ¨íšŸìˆ˜
learning_rate = 0.01
r_lambda = 0.01

for step in range(steps):
    for i, j, r in non_zeros:
        eij = r - np.dot(P[i, :], Q[j,:].T) # ië²ˆì§¸ í–‰, jë²ˆì§¸ ì—´ ê°’ì˜ ì˜¤ì°¨.
        
        # L2ì •ê·œí™”ë¥¼ ì ìš©í•œ SGDê¸°ë²• ì´ìš© P,Q ì—…ë°ì´íŠ¸
        P[i,:] = P[i,:] + learning_rate * (eij * Q[j,:] - r_lambda * P[i,:])
        Q[j,:] = Q[j,:] + learning_rate * (eij * P[i,:] - r_lambda * Q[j,:])
    
    # ì†ì‹¤ì„ ì¸¡ì •
    rmse = get_rmse(R, P, Q, non_zeros) # ë§¤ ìŠ¤íƒ­ì´ ëë‚  ë•Œë§ˆë‹¤ rmseê°’ ì‚°ì¶œ
    
    if(step% 50) ==0:
        print('### iteration step: {} rmse: {}'.format(step, rmse))

### iteration step: 0 rmse: 3.2388050277987723
### iteration step: 50 rmse: 0.4876723101369647
### iteration step: 100 rmse: 0.15643403848192475
### iteration step: 150 rmse: 0.07455141311978038
### iteration step: 200 rmse: 0.04325226798579314
### iteration step: 250 rmse: 0.029248328780878977
### iteration step: 300 rmse: 0.022621116143829396
### iteration step: 350 rmse: 0.01949363619652524
### iteration step: 400 rmse: 0.018022719092132586
### iteration step: 450 rmse: 0.017319685953442663
### iteration step: 500 rmse: 0.016973657887570895
### iteration step: 550 rmse: 0.016796804595895595
### iteration step: 600 rmse: 0.016701322901884613
### iteration step: 650 rmse: 0.01664473691247672
### iteration step: 700 rmse: 0.016605910068210078
### iteration step: 750 rmse: 0.016574200475704973
### iteration step: 800 rmse: 0.01654431582921599
### iteration step: 850 rmse: 0.016513751774735196
### iteration step: 900 rmse: 0.016481465738194947
### iteration step: 950 rmse: 0.016447171683479155

In [7]:
# ê²½ì‚¬í•˜ê°•ë²•ì´ìš© í–‰ë ¬ë¶„í•´ì˜ˆì¸¡ ê²°ê³¼

pred_matrix = np.dot(P, Q.T)
print('ì˜ˆì¸¡í–‰ë ¬: \n', np.round(pred_matrix, 3))

ì˜ˆì¸¡í–‰ë ¬:
 [[3.991 0.897 1.306 2.002 1.663]
 [6.696 4.978 0.979 2.981 1.003]
 [6.677 0.391 2.987 3.977 3.986]
 [4.968 2.005 1.006 2.017 1.14 ]]

In [8]:
# ì›ë³¸í–‰ë ¬ ì¶œë ¥ ê²°ê³¼
print(R)

# SGD ê¸°ë²•ì„ ì´ìš©í•œ í–‰ë ¬ë¶„í•´ë¥¼ í†µí•´ - > ì†ì‹¤ì„ ìµœì†Œí™” í•˜ëŠ” ë°©í–¥ìœ¼ë¡œ í•™ìŠµ

[[ 4. nan nan  2. nan]
 [nan  5. nan  3.  1.]
 [nan nan  3.  4.  4.]
 [ 5.  2.  1.  2. nan]]

## ì½˜í…ì¸ ê¸°ë°˜í•„í„°ë§ì‹¤ìŠµ
- ì˜í™” ë°ì´í„° ì„¸íŠ¸
- TMDB 5000 Movie Dataset
https://www.kaggle.com/tmdb/tmdb-movie-metadata

In [41]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

movies = pd.read_csv('./tmdb_5000_movies.csv')
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [51]:
movies_df = movies[['id','title', 'genres', 'vote_average', 'vote_count',
                 'popularity', 'keywords', 'overview']]
movies_df.head()

,id,title,genres,vote_average,vote_count,popularity,keywords,overview
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...",7.2,11800,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""sp...","In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, ..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""name"": ""Action""}]",6.9,4500,139.082615,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""name"": ""drug abuse""}, {""id"": 911, ""name"": ""exotic is...","Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of t..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 80, ""name"": ""Crime""}]",6.3,4466,107.376788,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name"": ""based on novel""}, {""id"": 4289, ""name"": ""secret...",A cryptic message from Bondâ€™s past sends him on a trail to uncover a sinister organization. Whil...
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name"": ""Drama""}, {""id"": ...",7.6,9106,112.312950,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853, ""name"": ""crime fighter""}, {""id"": 949, ""name"": ""te...","Following the death of District Attorney Harvey Dent, Batman assumes responsibility for Dent's c..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 878, ""name"": ""Science Fic...",6.1,2124,43.926995,"[{""id"": 818, ""name"": ""based on novel""}, {""id"": 839, ""name"": ""mars""}, {""id"": 1456, ""name"": ""medal...","John Carter is a war-weary, former military captain who's inexplicably transported to the myster..."

In [52]:
pd.set_option('max_colwidth', 100)
movies_df[['genres', 'keywords']][:1]
# ë¦¬ìŠ¤íŠ¸(list)ë‚´ë¶€ì— ì—¬ëŸ¬ ê°œì˜ ë”•ì…”ë„ˆë¦¬(dict)ê°€ ìˆëŠ” í˜•íƒœ

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""sp..."

In [53]:
from ast import literal_eval
# ë¬¸ìì—´ì„ ì´ ë¬¸ìì—´ì´ ì˜ë¯¸í•˜ëŠ” list [dict1,dict2] ê°ì²´ë¡œ ë§Œë“¤ ìˆ˜ ìˆë‹¤.

movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

In [58]:
movies_df['genres'] = movies_df['genres'].apply(lambda x : [ y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x : [ y['name'] for y in x])
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa..."

ì¥ë¥´ ì½˜í…ì¸  ìœ ì‚¬ë„ ì¸¡ì •
- Genres ì¹¼ëŸ¼ì„ê¸°ë°˜ìœ¼ë¡œ í•˜ëŠ” ì½˜í…ì¸ ê¸°ë°˜í•„í„°ë§
    1. ë¬¸ìì—´ë¡œ ë³€í™˜ëœ genres ì¹¼ëŸ¼ì„Count ê¸°ë°˜ìœ¼ë¡œ í”¼ì²˜ë²¡í„°í™” ë³€í™˜ (CountVectorizerì´ìš©)
    2. Genres ë¬¸ìì—´ì„ í”¼ì²˜ ë°±í„°í™” í–‰ë ¬ë¡œ ë³€í™˜í•œë°ì´í„° ì„¸íŠ¸ë¥¼ ì½”ì‚¬ì¸ ìœ ì‚¬ë„ë¥¼ í†µí•´ë¹„êµ
        --> ë°ì´í„° ì„¸íŠ¸ì˜ ë ˆì½”ë“œë³„ë¡œ íƒ€ë ˆì½”ë“œì™€ ì¥ë¥´ì—ì„œ ì½”ì‚¬ì¸ìœ ì‚¬ë„ ê°’ì„ ê°€ì§€ëŠ” ê°ì²´ë¥¼ ìƒì„±

    3. ì¥ë¥´ ìœ ì‚¬ë„ê°€ ë†’ì€ ì˜í™”ì¤‘ì— í‰ì ì´ ë†’ì€ìˆœìœ¼ë¡œ ì˜í™”ë¥¼ ì¶”ì²œ

In [63]:
# 1. countvectorizerë¡œ í”¼ì²˜ ë²¡í„° í–‰ë ¬ ìƒì„±

from sklearn.feature_extraction.text import CountVectorizer

movies_df['genres_literal'] = movies_df['genres'].apply(lambda x: (' ').join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])

genre_mat.shape

(4803, 276)

In [66]:
#  2. ì½”ì‚¬ì¸ ìœ ì‚¬ë„ê³„ì‚° ->ê¸°ì¤€ í–‰ê³¼ ë¹„êµí–‰ì˜ ì½”ì‚¬ì¸ ìœ ì‚¬ë„ë¥¼ í–‰ë ¬í˜•íƒœë¡œ ë³€í™˜

from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
genre_sim[:4]

array([[1.        , 0.59628479, 0.4472136 , ..., 0.        , 0.        ,
        0.        ],
       [0.59628479, 1.        , 0.4       , ..., 0.        , 0.        ,
        0.        ],
       [0.4472136 , 0.4       , 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.12598816, 0.16903085, 0.3380617 , ..., 0.12598816, 0.        ,
        0.        ]])

In [67]:
# ìœ ì‚¬ë„ê°€ ë†’ì€ ìˆœìœ¼ë¡œ ì •ë¦¬ëœ genre_sim ê°ì²´ì˜ ì¸ë±ìŠ¤ê°’ ì–»ê¸°

genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
genre_sim_sorted_ind[:1]
# 0ë²ˆ ë ˆì½”ë“œëŠ” ìê¸° ìì‹ .

array([[   0, 3494,  813, ..., 3038, 3037, 2401]], dtype=int64)

In [70]:
# 3. ì¥ë¥´ ìœ ì‚¬ë„ì— ë”°ë¼ ì˜í™”ë¥¼ ì¶”ì²œí•˜ëŠ” í•¨ìˆ˜ ìƒì„±

def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    title_movie = df[df['title'] == title_name]
    
    title_index = title_movie.index.values # ì¸ë±ìŠ¤ ê°ì²´ë¥¼ ndarrayë¡œ ë°˜í™˜
    similar_indexes = sorted_ind[title_index, :(top_n)] #ìœ ì‚¬ë„ ìˆœìœ¼ë¡œ top_nê°œì˜ index ì¶”ì¶œ
     
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1) #top_n indexëŠ”2ì°¨ì› ë°ì´í„°ì—¬ì„œ indexë¡œì‚¬ìš©í•˜ê¸° ìœ„í•´1ì°¨ì› arrayë¡œë³€ê²½
    
    return df.iloc[similar_indexes]

In [71]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average']]

# ì–´ìš¸ë¦¬ì§€ì•ŠëŠ” ì˜í™”ë„ë§ê³ , í‰ì ì´ 0ì¸ ì˜í™”ë„ ì¡´ì¬ -> ê°œì„ ì´ í•„ìš”í•˜ë‹¤.

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

In [73]:
# ì˜í™”ì˜ í‰ì ì— ë”°ë¼ í•„í„°ë§

movies_df[['title', 'vote_average', 'vote_count']].sort_values('vote_average', ascending=False)[:10]

# í‰ì ì— í‰ê°€íšŸìˆ˜ë¥¼ ë°˜ì˜í•  í•„ìš”ê°€ ìˆìŒ.

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

In [75]:
C = movies_df['vote_average'].mean()
m = movies_df['vote_average'].quantile(0.6) # ìƒìœ„60%ê°’ ì¶”ì¶œ
print('C: ',round(C, 3), 'm: ', round(m, 3))

C:  6.092 m:  6.5

In [79]:
# ê¸°ì¡´í‰ì ì„ ìƒˆë¡œìš´ ê°€ì¤‘í‰ì ìœ¼ë¡œ ë³€ê²½í•˜ëŠ” í•¨ìˆ˜ ìƒì„±

percentile = 0.6
C = movies_df['vote_average'].mean()
m = movies_df['vote_average'].quantile(percentile)

def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    
    # ì˜í™”í‰ì ì‚¬ì´íŠ¸ì¸ IMDBì—ì„œ ì œê³µí•˜ëŠ” ê°€ì¤‘í‰ì  ë°©ì‹
    return ( (v/(v+m))* R) + ( (m/(m+v)) * C)
    
movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average, axis =1)
movies_df['weighted_vote'].head()

0    7.199390
1    6.898835
2    6.299698
3    7.598924
4    6.099976
Name: weighted_vote, dtype: float64

In [80]:
# ìƒˆë¡­ê²Œ ë¶€ì—¬ëœweighted_vote í‰ì ì´ ë†’ì€ ìˆœìœ¼ë¡œ ìƒìœ„ 10ê°œì˜ ì˜í™” ì¶”ì¶œ
movies_df[['title','vote_average','weighted_vote','vote_count']].sort_values('weighted_vote',
                                                                          ascending=False)[:10]

                         title  vote_average  weighted_vote  vote_count
1881  The Shawshank Redemption           8.5       8.498094        8205
3337             The Godfather           8.4       8.397457        5893
662                 Fight Club           8.3       8.298476        9413
3232              Pulp Fiction           8.3       8.298299        8428
1818          Schindler's List           8.3       8.296690        4329
3865                  Whiplash           8.3       8.296632        4254
2294             Spirited Away           8.3       8.296269        3840
2731    The Godfather: Part II           8.3       8.295709        3338
65             The Dark Knight           8.2       8.198859       12002
809               Forrest Gump           8.2       8.198273        7927

In [81]:
# ìƒˆë¡­ê²Œ ì •ì˜ëœ í‰ì  ê¸°ì¤€ì— ë”°ë¼ ì˜í™” ì¶”ì²œ

def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    title_movie = df[df['title']==title_name]
    title_index = title_movie.index.values
    
    similar_indexes = sorted_ind[title_index, :(top_n*2)] # top_nì˜ 2ë°°ì— í•´ë‹¹í•˜ëŠ” ì¥ë¥´ ìœ ì‚¬ì„±ì´ ë†’ì€ ì¸ë±ìŠ¤ ì¶”ì¶œ
    similar_indexes = similar_indexes.reshape(-1)
    
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]


similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average', 'weighted_vote']]

                            title  vote_average  weighted_vote
2731       The Godfather: Part II           8.3       8.295709
1847                   GoodFellas           8.2       8.195629
1663  Once Upon a Time in America           8.2       8.187261
3866                  City of God           8.1       8.092831
883           Catch Me If You Can           7.7       7.697251
281             American Gangster           7.4       7.394365
4041              This Is England           7.4       7.376994
1243                 Mean Streets           7.2       7.179514
2839                     Rounders           6.9       6.888214
1149              American Hustle           6.8       6.798365